{{ args.before_widget|raw }}
{{ args.before_title|raw }}{{ instance.title|apply_filters('widget_title') }}{{ args.after_title|raw }}

{% if meme %}
	{{dump(meme)}}
	<div class="string">
		<span class="text">{{ instance.title }}</span>

	</div>

	<picture class="picture">
		<source srcset="{{ day_mem.url|resize(355)|towebp }}" type="image/webp">
		<img src="{{ day_mem.url|resize(355) }}" width="355" alt="">

	</picture>

	<div class="string">
		<a href="{{instance.link}}" class="link">{{instance.subtitle}}</a>
	</div>
{% endif %}
{{ args.after_widget|raw }}
