{{ args.before_widget|raw }}
{{ args.before_title|raw }}
{{ args.after_title|raw }}

{% if memes %}
	<div class="string">
		<span class="text">{{ instance.title }}</span>
	</div>

	{% set firstMeme = memes|first %}


	<picture class="picture">
		<source srcset="{{ firstMeme.image.url|resize(355)|towebp }}" type="image/webp">

		<img src="{{ firstMeme.image.url|resize(355) }}" width="355" alt="">


	</picture>

	<div class="string">
		<a href="{{instance.link}}" class="link">{{instance.subtitle}}</a>
	</div>
{% endif %}
{{ args.after_widget|raw }}
