{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header main-header">
	{% block header %}
		<div class="header_wrap">
			<div class="btn-menu">
				<button class="menu" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<div class="header_logo">
				<a href="index.html" class="logo">
					<img src="img/logo_d.png" alt="img">
				</a>
				<p class="quotes">... and the truth shall set you free - John 8:32</p>
			</div>
			<div class="contact-block">
				<ul class="list">
					<li class="item">
						<a href="#" class="contact-link">
							<i class="icon icon-telegram"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="contact-link">
							<i class="icon icon-fb"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="contact-link">
							<i class="icon icon-gab"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="contact-link">
							<i class="icon icon-tw"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="contact-link">
							<i class="icon icon-rss"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="search-block">
				<button class="btn-search" type="button">
					<i class="icon icon-search"></i>
				</button>
			</div>
			<div class="search-row">
				<form action="{{ site.url}}" method="get" class="search-form">
					<input type="text" class="input-search" placeholder="Search" name="s"/>
					<div class="btn-block">
						<button class="btn-search" type="submit">
							<i class="icon icon-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		{% include 'partial/main-menu.twig' %}

		<div class="menu-bar">
			<button class="cross btn-close" type="button"></button>
			<ul class="list">
				<li class="item">
					<a href="#" class="menu-link">About</a>
				</li>
				<li class="item">
					<a href="#" class="menu-link">Write an article</a>
				</li>
				<li class="item">
					<a href="#" class="menu-link">
						Donate</a>
				</li>
				<li class="item">
					<a href="#" class="menu-link">Send us an idea, tip, or lead</a>
				</li>
				<li class="item">
					<a href="#" class="menu-link">Topics</a>
				</li>
				<li class="item">
					<a href="#" class="menu-link">Contacts</a>
				</li>
			</ul>
		</div>
	{% endblock %}
</header>

<main
	id="content" class="content-wrapper">

	{#
			      # Берём content-wrapper__inner как отсечку для шапки и рекламы, которые позиционированы абсолютно
			      #}

	<div class="content-wrapper__inner {{sidebar_class}}">
		<div class="row content-wrapper__inner-row g-0">
			<div class="main col-12 col-md-9">
				<div class="main__wrapper">
					{% block title %}
						{% if title %}
							<h1 class="page-title">{{title}}</h1>
						{% endif %}
					{% endblock %}
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			</div>
			<aside class="sidebar col-12 col-md-3">
				{% if above_sidebar %}
					<div class="widgets above_sidebar"></div>
				{% endif %}
				<div class="news-timeline">
					{% include 'partial/news-right-column-listing.twig' %}
				</div>
				{% if sidebar %}
					<div class="sidebar-widgets">
						{% include 'sidebar.twig' %}
					</div>
				{% endif %}
			</aside>
		</div>
	</div>

</main>

{% block footer %}
	<footer id="footer" class="main-footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
