<li class="{{ comment.comment_type }}" id="comment-{{comment.ID}}">
	<div class="comment-wrapper">
		<div class="card">
			<div class="card-header">
				<div class="comment-meta d-flex align-items-center">
					<img src="{{ fn('getAuthorAvatar', comment.author) }}" alt="Аватар {{comment.author.name}}" />
					<span class="comment-author">{{comment.author.name}}, {{ comment.date }}</span>
				</div>
				<a href="{{ post.link }}#comment-{{comment.ID}}" class="comment-id">#{{comment.ID}}</a>
			</div>
			<div class="card-body">
				{{ comment.comment_content|wpautop }}
			</div>
			<div class="card-footer">
				<h6>Reply</h6>
				{% include "comment-form.twig" %}
			</div>
		</div>
	</div>
	<!-- child comments -->
	{% if post.comments %}
		{% set counter = counter + 1 %}
		<ul class="comments">
			{% for cmt in comment.children %}
				{% include "comment.twig" with { comment:cmt } %}
			{% endfor %}
		</ul>
	{% endif %}
</li>