<form class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
  {% if  user %}
    <input type="hidden" name="email" value="{{ user.email }}">
    <input type="hidden" name="author" value="{{ user.name }}">
    <input type="hidden" name="url" value="{{ user.link }}">
  <fieldset class="fieldset">
    <label for="comment">Comment *</label>
    <textarea placeholder="Leave a comment..." name="comment" cols="60" rows="3"></textarea>
  </fieldset>
  <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
  <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
  <div class="btn-row">
    <button type="submit" name="Submit" class="btn btn-rev">Send</button>
    <button type="reset" class="btn btn-rev">Cancel</button>
  </div>
  {% else %}
  <div class="btn-row">
    {% filter shortcodes %}
      [oa_social_login]
    {% endfilter %}
  </div>
  {% endif %}
</form>
