{% extends "base.twig" %}

{% block content %}

	<div class="hero-post">
		{% for post in posts [:2] %}
			<div class="post-full">
				<div class="category">
					<a href="{{ post.category.link }}" class="category-link">{{ post.category }}</a>
				</div>
				<a href="{{post.link}}" class="media-link">
					<picture class="picture">
						<source srcset="{{ post.thumbnail.src|resize(370, 243)|towebp }}" type="image/webp">
						<img src="{{ post.thumbnail.src|resize(370, 243) }}" width="370" height="243" alt="{{ post.title }}">
					</picture>
				</a>
				<h2 class="title">
					<a href="{{post.link}}" class="post-link">{{post.title}}</a>
				</h2>
			</div>
		{% endfor %}


	</div>
	<div class="all-post" data-page="1" data-offset="2">
		<div class="title-rows">
			<h2 class="title">Latest News</h2>
		</div>
		{% for post in posts [2:] %}
			{% include ( 'tease-post.twig' ) %}
		{% endfor %}
		<div class="more-rows">
			<button id="loadMore" class="btn" type="button">MORE</button>
		</div>
	</div>
{% endblock %}
