<h3>Featured</h3>
{% for post in featured_posts %}
	{% if post.thumbnail.src %}
		<a href="{{ post.link }}" title="{{ post.title }}" class="media-link">
			<picture class="picture">
				<source srcset="{{ post.thumbnail.src|resize(265, 150)|towebp }}" type="image/webp">
				<img src="{{ post.thumbnail.src|resize(265, 150) }}" width="265" height="152" alt="{{ post.title }}">
			</picture>
		</a>
	{% endif %}
	<a href="{{ post.link }}" title="{{ post.title }}" class="media-link">{{ post.title }}</a>
{% endfor %}

{{ subscribe }}

<h3>Popular</h3>
{% for post in popular_posts %}
	{% if post.thumbnail.src %}
		<a href="{{ post.link }}" title="{{ post.title }}" class="media-link">
			<picture class="picture">
				<source srcset="{{ post.thumbnail.src|resize(265, 150)|towebp }}" type="image/webp">
				<img src="{{ post.thumbnail.src|resize(265, 150) }}" width="265" he0ght="152" alt="{{ post.title }}">
			</picture>
		</a>
	{% endif %}
	<a href="{{ post.link }}" title="{{ post.title }}" class="media-link">{{ post.title }}</a>
{% endfor %}
