{% extends "base.twig" %}

{% block content %}

	<article id="post-{{ post.ID }}" class="article post-type-{{ post.post_type }}">
		<div class="article-head">
			<h1 class="title">
				{{ post.title }}
			</h1>
			{% if post.meta('subheadline') %}
				<h2 class="sub-title">
					{{ post.meta('subheadline') }}
				</h2>
			{% endif %}
		</div>

		<hr>
		<div class="article-meta">
			<div class="meta-row">
				<div class="author">
					<a href="#" class="name-link">John Johnson</a>
					<a href="#" class="edition-link">Zerohedge</a>
				</div>
				<div class="words">
					<span class="number">{{ fn('getWordsCount', post.id) }}
						words</span>

				</div>
				<div class="read">
					<span class="number">{{ fn('getReadingTime', post.id) }}
						minute read</span>

				</div>
				<div class="comments">
					<a href="#comments">
						<i class="icon icon-comment"></i>
						<span class="number">{{post.comments.count}}</span>
					</a>
				</div>
			</div>
			<div class="shared-row">
				<ul class="list">
					<li class="item">
						<a href="#" class="link link-telegram">
							<i class="icon icon-telegram"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-gab">
							<i class="icon icon-gab"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-fb">
							<i class="icon icon-fb"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-tw">
							<i class="icon icon-tw"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-whatsapp">
							<i class="icon icon-whatsapp"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-email">
							<i class="icon icon-email"></i>
						</a>
					</li>
					<li class="item">
						<a href="#" class="link link-print">
							<i class="icon icon-print"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="meta-row">
				<div class="date">
					<span class="number">Tue, Aug 17, 2021</span>
				</div>
				<div class="category">
					<a href="#" class="category-link">Politics</a>
					<a href="#" class="category-link">FBI ABUSE</a>
					<a href="#" class="category-link">CENSORSHIP</a>
				</div>
			</div>
		</div>
		<hr>
		{% if post.thumbnail.src %}
			<div class="article-media">
				<picture class="picture">
					<source srcset="{{ post.thumbnail.src|resize(886)|towebp }}" type="image/webp">
					<img src="{{ post.thumbnail.src|resize(570) }}" width="570" alt="{% if post.thumbnail.alt %}{{ post.thumbnail.alt }}{% else %}{{ post.title }}{% endif %}">
				</picture>
				{% if post.thumbnail.caption or post.thumbnail.alt %}
					<p class="media-desc">
						{% if post.thumbnail.caption %}
							{{ post.thumbnail.caption }}
						{% else %}
							{{ post.thumbnail.alt }}
						{% endif %}
					</p>
				{% endif %}
			</div>
			<hr>
		{% endif %}
		<div class="text-row">
			{{ post.content }}
		</div>
		<hr>
	</article>
	<div class="shared-row">
		<ul class="list social-likes" data-url="{{ post.link }}" data-title="{{ post.title }}">
			<li class="item" data-service="telegram"></li>
			<li class="item" data-service="facebook"></li>
			<li class="item" data-service="twitter"></li>
		</ul>
	</div>

	<section
		id="comments" class="comment-row">
		<!-- comments -->
		{% if post.comments.count > 0 %}
			<div class="comments">
				{% if post.comments %}
					<div class="title-rows">
						<h2 class="title">Comments</h2>
					</div>
					{% for cmt in post.comments %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				{% endif %}
			</div>

		{% endif %}

		{% if post.comment_status == "closed" %}
			<p>
				comments for this post are closed
			</p>
		{% else %}
			<!-- comment form -->
			{% include "comment-form.twig" %}
		{% endif %}
	</section>

{% endblock %}
