{% extends "base.twig" %}

{% block content %}

	<article id="post-{{ post.ID }}" class="article post-type-{{ post.post_type }}">
		<div class="article-head">
			<h1 class="title">
				{{ post.title }}
			</h1>
			{% if post.meta('subheadline') %}
			<h2 class="sub-title">
			{{ post.meta('subheadline') }}
			</h2>
			{% endif %}
		</div>
		{{ fn('getReadingTime', post.id) }}
		<hr>{{ post.date }}
		{% if post.thumbnail.src %}
			<div class="article-media">
				<picture class="picture">
					<source srcset="{{ post.thumbnail.src|resize(886)|towebp }}" type="image/webp">
					<img src="{{ post.thumbnail.src|resize(570) }}" width="570" alt="{% if post.thumbnail.alt %}{{ post.thumbnail.alt }}{% else %}{{ post.title }}{% endif %}">
				</picture>
				{% if post.thumbnail.caption or post.thumbnail.alt %}
				<p class="media-desc">
			{% if post.thumbnail.caption %} {{ post.thumbnail.caption }} {% else %}{{ post.thumbnail.alt }}{% endif %}
				</p>
				{% endif %}
			</div>
			<hr>
		{% endif %}
		<div class="text-row">
			{{ post.content }}
		</div>
		<hr>
	</article>
	<div class="shared-row">
		<ul class="list social-likes" data-url="{{ post.link }}" data-title="{{ post.title }}">
			<li class="item" data-service="telegram"></li>
			<li class="item" data-service="facebook"></li>
			<li class="item" data-service="twitter"></li>
		</ul>
	</div>
	<hr>

	<section class="comment-row">
		<!-- comments -->
		{% if post.comments.count > 0 %}
		<div class="comments">
			{% if post.comments %}
				<div class="title-rows">
					<h2 class="title">Comments</h2>
				</div>
				{% for cmt in post.comments %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			{% endif %}
		</div>

		{% endif %}

		{% if post.comment_status == "closed" %}
			<p> comments for this post are closed </p>
		{% else %}
			<!-- comment form -->
			{% include "comment-form.twig" %}
		{% endif %}
	</section>
</div>

{% endblock %}
