{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper row">
		<header class="article-header">
			<ul class="breadcrumbs list">
				<li class="list-item"><a href="{{ site.link }}" title="{{ site.name }}" class="item-link">Home</a></li>
				{% for term in post.categories %}
					<li class="list-item"><a href="{{ term.link }}" class="item-link">{{ term.name }}</a></li>
				{% endfor %}
			</ul>
			<h1 class="article-h1">{{ post.title }}</h1>
		</header>
		<article class="post-type-{{ post.post_type }} col-12 offset-md-1 col-md-8" id="post-{{ post.ID }}">
			{% if post.thumbnail and post.meta('hideImageOnPage') == false %}
				<picture class="article-block__picture">
					<source srcset="{{ post.thumbnail.src|resize(355|towebp) }}" type="image/webp" media="(max-width: 640px)">
					<source srcset="{{ post.thumbnail.src|resize(355|tojpg) }}" media="(max-width: 640px)">
					<source srcset="{{ post.thumbnail.src|resize(886|towebp) }}" type="image/webp" media="(min-width: 641px)">
					<img src="{{ post.thumbnail.src|resize(886)|tojpg }}" width="886"
							 alt="{% if post.thumbnail.alt %}{{ post.thumbnail.alt }}{% else %}{{ post.title }}{% endif %}" />
				</picture>
			{% endif %}
			{% if over_post %}
				<div class="widgets over_post">
					{{ over_post }}
				</div>
			{% endif %}
			<div class="article-body">
				{{ post.content }}
			</div>
		</article>
		{% if not post.meta('hide_article_ads') %}
			<aside class="col-12 col-md-3 ads-wrapper">
				<div class="ads-block">{{ sidebar }}</div>
			</aside>
		{% endif %}
	</div><!-- /content-wrapper -->
	<footer class="article-footer">
		<time class="news-timeline__date date" datetime="{{ post.post_date | date( 'Y-m-d H:i' ) }}">
			{{ post.post_date | date( 'd.m.Y H:i' ) }}
		</time>
		<div class="share-block"><label class="label">Поделиться в социальных сетях</label>

			<div class="social-likes" data-url="{{ post.link }}" data-title="{{ post.title }}">

				<div data-service="vkontakte" title="Поделиться в VK"></div>
				<div data-service="odnoklassniki" title="Поделиться в Odnoklassniki"></div>
				<div data-service="telegram" title="Поделиться в Telegram"></div>
				<div data-service="facebook" title="Поделиться в Facebook"></div>
				<div data-service="twitter" title="Поделиться в Twitter"></div>

			</div>
		</div>
	</footer>
	{% if not post.meta('hide_article_ads') %}
	<div class="ads-wrapper ads-horisontal ads-bellow-article">
		{{ bellow_body }}
	</div>
	{% endif %}
	{% include "partial/read-more-posts.twig" %}

	{% if bellow_post %}
		<div class="widgets bellow_post">
		{{bellow_post}}
		</div>
	{% endif %}
{% endblock %}
