{% extends "base.twig" %}

{% block content %}

	<article id="post-{{ post.ID }}" class="article post-type-{{ post.post_type }}">
		<div class="article-head">
			<h1 class="title">
				{{ post.title }}
			</h1>
			{% if post.meta('subheadline') %}
				<h2 class="sub-title">
					{{ post.meta('subheadline') }}
				</h2>
			{% endif %}
		</div>

		<hr>
		<div class="article-meta">
			<div class="meta-row">
				{% if (post.terms('creator') or post.terms('publication')) %}
					<div class="author">
						{% for term in post.terms('creator') %}
							<a href="{{ fn('get_term_link', term.ID) }}" class="name-link">{{ term.name }}</a>
						{% endfor %}
						{% if post.terms('publication') %}
							{% for term in post.terms('publication') %}
								<a href="{{ fn('get_term_link', term.ID) }}" class="edition-link">{{ term.name }}</a>
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
				<div class="words">
					<span class="number">{{ fn('getWordsCount', post.id) }}
						words</span>

				</div>
				<div class="read">
					<span class="number">{{ fn('getReadingTime', post.id) }}
						minute read</span>

				</div>
				<div class="comments">
					<a href="#comments">
						<i class="icon icon-comment"></i>
						<span class="number">{{post.comments.count}}</span>
					</a>
				</div>
			</div>
			<div class="shared-row">
				<div class="addthis_inline_share_toolbox_yrh6"></div>
			</div>
			<div class="meta-row">
				<div class="date">
					<span class="number">{{ post.date }}</span>
				</div>
				{% if post.categories %}
					{% for category in post.terms('category')%}
						<div class="category">
							<a href="{{ category.link }}" class="category-link">{{ category.name }}</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<hr>
		{% if post.thumbnail.src %}
			<div class="article-media">
				<picture class="picture">
					<source srcset="{{ post.thumbnail.src|resize(886)|towebp }}" type="image/webp">
					<img src="{{ post.thumbnail.src|resize(570) }}" width="570" alt="{% if post.thumbnail.alt %}{{ post.thumbnail.alt }}{% else %}{{ post.title }}{% endif %}">
				</picture>
				{% if post.thumbnail.caption or post.thumbnail.alt %}
					<p class="media-desc">
						{% if post.thumbnail.caption %}
							{{ post.thumbnail.caption }}
						{% else %}
							{{ post.thumbnail.alt }}
						{% endif %}
					</p>
				{% endif %}
			</div>
			<hr>
		{% endif %}
		<div class="text-row">
			{{ post.content }}
		</div>
	</article>
	<div class="shared-row">
		<div class="addthis_inline_share_toolbox_yrh6"></div>
	</div>

	<section
		id="comments" class="comment-row">
		<!-- comments -->
		{% if post.comments.count > 0 %}
			<div class="comments">
				{% if post.comments %}
					<div class="title-rows">
						<h2 class="title">Comments</h2>
					</div>
					{% for cmt in post.comments %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				{% endif %}
			</div>

		{% endif %}

		{% if post.comment_status == "closed" %}
			<p>
				comments for this post are closed
			</p>
		{% else %}
			<!-- comment form -->
			{% include "comment-form.twig" %}
		{% endif %}
	</section>

{% endblock %}
