{% extends "tease.twig" %}

{% block content %}
	<a href="{{post.link}}" title="{{ post.title }}">
		<picture class="article-block__picture">
			<source srcset="{{ fn('dummy_image_url', post.ID)|resize(355,200)|towebp }}" type="image/webp" media="(max-width: 640px)">
			<source srcset="{{ fn('dummy_image_url', post.ID)|resize(355,200)|tojpg }}" media="(max-width: 640px)">
			<source srcset="{{ fn('dummy_image_url', post.ID)|resize(454,255)|towebp }}" type="image/webp" media="(min-width: 641px)">
			<img src="/wp-content/uploads/2021/06/no-noimage-454x255-c-default.jpg" width="454" height="255"
					 alt="{% if post.thumbnail.alt %}{{ post.thumbnail.alt }}{% else %}{{ post.title }}{% endif %}"
					 loading="lazy" data-src="{{ fn('dummy_image_url', post.ID)|resize(454,255)|tojpg }}"
			/>
		</picture>
	</a>
	<h2 class="article-block__title"><a href="{{post.link}}" title="{{ post.title }}">{{post.title}}</a></h2>
	<time class="article-block__date date" datetime="{{ post.post_date | date( 'Y-m-d H:i' ) }}">
		{{ post.post_date | date( 'd.m.Y H:i' ) }}
	</time>
	<div class="article-block__preview">{{ post.preview.length(21).read_more( '' ).force }}</div>
	<div class="read-more">
		<a href="{{ post.link }}">Читать далее</a>
	</div>
{% endblock %}